<h1>Treatment for <%= @treatment.treatment_for %></h1>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render @treatment %>
    <div class="medium-9 columns comments_form">
      <%= render partial: 'comments/form', locals: { commentable: @consultation } %>
      
        <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @consultation } %>

    </div>
  </div>
</div>