<% if current_user == comment.user %>
  <div class="medium-12 columns comment_patient">
  <% else %>
  <div class="medium-12 columns comment-right right">
    <% end %>
    <li>
      <ul>
        <li>Comment by: <%= comment.user.try(:first_name) %> <%= comment.user.try(:last_name) %></li>
        <p><%= comment.comment %></p>
      </ul>
    </li> 
  </div>


