<% if current_user.role != "patient" %>
<div class="medium-8 columns comment_patient">
  <% else %>
  <div class="medium-offset-8 columns comment-right right">
    <% end %>
    <div class="consultation-row row">
      <li>
        <ul> 
          <p><%= comment.comment %></p>
          <li class="floatright"><small class="text-muted"> --<%= comment.user.try(:first_name) %> <%= comment.user.try(:last_name) %></small></li>
        </ul>
      </li> 
    </div>
  </div>