

body{
  background-image: url(asset-path("pw_pattern.png"));
}

body.homepage{
  background-color: green;
}

.backgreen{
  background-color: #248774;
}

.topper{
  background-color: #00A29C;
  height: 1.75em;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
  padding: 0 20px;
}

.topperhighlight{
  background-color: #06CBC4;
  height: 1.75em;
  margin: 0 auto;
  font-size: 1.2em;
  color: white;
  padding: 0 20px;
  text-align: center;
  z-index: 3;

  a{
    color: #fff;
  }
}



li{
  list-style-type: none;  
}

.card-deck-wrapper .rounded .card-deck{
  border-radius: 20px;
}

.whitebg{
  background-color: white;
}

span {
 opacity: 0.5;
}

.fieldname {
 opacity: 0.5;
font-size: 0.5rem;
}

.biggerp{
  font-size: 1.1em;
  line-height: 0.1;
  color: #efefef;
}

.row .row {
  margin-bottom: 20px;
}

hr.style15:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}

.healbutton{
  float: right;
}

bordernone{
  border-width: 0;
}


//custom vertical accordion
// .accordion{
//   min-height: 0;
//   display: table !important;
//   height: 100%;
//   margin: 0;
//   padding: 0;

//   &-navigation{
//     display: table-cell !important;
//     position: relative;
//     min-width: 0;
//   }

//   &-navigation > a{
//       left: 0;
//       top: 0;
//       position: absolute;           
//       min-width: 3.5rem;
//       height: 100%;
//       min-height: 0;    
//     > span{
//       transform-origin: 0% 0%;
//       position: absolute;      
//       transform: rotate(-90deg);
//       bottom: 0.625rem;
//       white-space: nowrap;
//     }
//   }

//   &-navigation .content{    
//     min-height: 18.75rem;
//     margin-left: 20px;
//   }
// }

// .accordion.animated {
//   .content {
//     display: block;
//     overflow: hidden;
//     transition: width .6s cubic-bezier(0.175, 0.885, 0.320, 1.125);
//     height: 0;
//     width: 0;
//     > div{
//       padding: 0 40px;
//     }
//   }  
// }