body{
  background-image: url(asset-path("pw_pattern.png"));
}


.topper{
  background-color: #248774;
  height: 1.75em;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
  padding: 0 20px;
}

li{
list-style-type: none;  
}

.card-deck-wrapper .rounded .card-deck{
  border-radius: 20px;
}


//custom vertical accordion
// .accordion{
//   min-height: 0;
//   display: table !important;
//   height: 100%;
//   margin: 0;
//   padding: 0;
  
//   &-navigation{
//     display: table-cell !important;
//     position: relative;
//     min-width: 0;
//   }
  
//   &-navigation > a{
//       left: 0;
//       top: 0;
//       position: absolute;           
//       min-width: 3.5rem;
//       height: 100%;
//       min-height: 0;    
//     > span{
//       transform-origin: 0% 0%;
//       position: absolute;      
//       transform: rotate(-90deg);
//       bottom: 0.625rem;
//       white-space: nowrap;
//     }
//   }
  
//   &-navigation .content{    
//     min-height: 18.75rem;
//     margin-left: 20px;
//   }
// }

// .accordion.animated {
//   .content {
//     display: block;
//     overflow: hidden;
//     transition: width .6s cubic-bezier(0.175, 0.885, 0.320, 1.125);
//     height: 0;
//     width: 0;
//     > div{
//       padding: 0 40px;
//     }
//   }  
// }